misc/debateformatschema.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar ns="" xmlns="http://relaxng.org/ns/structure/1.0"
		 datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"
		 xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">

	<start>

		<element name="debate-format">

			<attribute name="schema-version">
				<value>2.0</value>
			</attribute>

			<element name="name">
				<data type="string"/>
			</element>

			<element name="info">
				<interleave>
					<zeroOrMore>
						<element name="region">
							<data type="string"/>
						</element>
					</zeroOrMore>
					<zeroOrMore>
						<element name="level">
							<data type="string"/>
						</element>
					</zeroOrMore>
					<zeroOrMore>
						<element name="used-at">
							<data type="string"/>
						</element>
					</zeroOrMore>
					<element name="description">
						<data type="string"/>
					</element>
				</interleave>
			</element>

			<element name="period-types">
				<oneOrMore>
					<element name="period">
						<attribute name="ref">
							<data type="string"/>
						</attribute>
						<interleave>
							<element name="name">
								<data type="string"/>
							</element>
							<element name="display">
								<data type="string"/>
							</element>
							<optional>
								<element name="pois-allowed">
									<empty/>
								</element>
							</optional>
						</interleave>
					</element>
				</oneOrMore>
			</element>

			<!-- Can choose either or prep-time and prep-time-controlled but not both -->
			<optional>
				<choice>
					<element name="prep-time">
						<attribute name="length">
					</element>
				</choice>
			</optional>

			<element name="speech-types">
				<oneOrMore>
					<element name="speech-type">
						<interleave>
							<element name="length">
								<data type="string"/>
							</element>
							<element name="first-period">
								<attribute name="ref">
									<data type="string"/>
								</attribute>
							</element>
						</interleave>
						<interleave>
							<ref name="common.speechelementscontainer"/>
						</interleave>
					</element>
				</oneOrMore>
			</element>

			<element name="speeches">
				<oneOrMore>
					<element name="speech">
						<attribute name="type">
							<data type="string"/>
						</attribute>

						<element name="name">
							<data type="string"/>
						</element>
					</element>
				</oneOrMore>
			</element>

		</element>

	</start>

	<define name="common.speechelementscontainer">
		<attribute name="ref">
			<data type="string"/>
		</attribute>
		<oneOrMore>
			<ref name="common.bell"/>
		</oneOrMore>
	</define>

	<define name="common.bell">
		<element name="bell">
			<interleave>
				<element name="time">
					<optional>
						<attribute name="from">
							<choice>
								<value>start</value>
								<value>finish</value>
							</choice>
						</attribute>
					</optional>
					<data type="string"/>
				</element>
				<element name="number">
					<data type="integer"/>
				</element>
				<element name="next-period">
					<attribute name="ref">
						<data type="string"/>
					</attribute>
				</element>
			</interleave>
		</element>
	</define>

</grammar>